<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Autograph Book</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>"College friends are the family we choose ❤️"</h2>

        <img src="/static/images/clgbldg.jpg" width="400" alt="College Building">

        <p>
            Hi, I'm <b>Pramod Wagh</b>, B.E cse final-year.<br>
            This autograph book preserves my college memories.
        </p>

        <a href="/autograph">
            <button>✍️ Give Your Autograph</button>
        </a>
    </div>
</body>
</html>
