<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="thanks-icon">🎉</div>
        <h2>Thank You, {{ name }}!</h2>

        <p>
            Your autograph has been saved successfully.<br>
            Thanks for being part of my college journey ❤️
        </p>

        <p>— Pramod Wagh +919066468589 pramodd361@gmail.com </p>

        <a href="/" class="back-link">← Back to Home</a>
    </div>
</body>
</html>
